form {
    float: right;
    margin-right: 20px;
    padding: 5px;
    margin: 5px;
}

body {
    background-color: #dcedff;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #db9ce7;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    display: flex;
    justify-content: space-evenly;
    width: 125px;
    align-items: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar li {
    display: inline;
    float: left;
}

.navbar a.active{
    color: white;
}

.navbar a:hover {
    color: #9734Ad;
}

.album-main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.album-main h3{
    grid-column: 1/5;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}


article{
    background-color:#8c9dcf;
    padding: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th{ 
    text-align: left;
}

.image-links {
    display: flex;
    justify-content: space-evenly;
}

.image-links a{
    text-decoration: none;
    color: black;
}

tr a {
    text-decoration: none;
    color: black;
}

tr a:hover {
    color: #9734ad;
}

th {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}