form {
    float: right;
    margin-right: 20px;
    padding: 5px;
    margin: 5px;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    display: flex;
    justify-content: space-evenly;
    width: 125px;
    align-items: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.navbar li {
    display: inline;
    float: left;
}

.navbar a.active{
    background-color: #04AA6D;
    color: white;
}

.navbar a:hover {
    color: black;
}

.album-main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.album-main h3{
    grid-column: 1/5;
}

article{
    background-color: lightskyblue;
    padding: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th{ 
    text-align: left;
}

.image-links {
    display: flex;
    justify-content: space-evenly
}