<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Page</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
      <header>
        <h1>About</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/webpages">Top Songs</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Welcome</h2>
        <p>Bangtan Boys</p>
        <p>Bangtan boys information yada yada yada </p>
    </main>
  <script src="script.js"></script>

  <!--
    With thanks to WC
  -->
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>