<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HTML and CSS Tags</title>
  <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>
      <header>
        <h1>BTS Top Songs</h1>
    </header>
    <nav class = "navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/catalouge">Top Songs</a>
            </li>
            <li>
                <a href="/album">Album</a>
            </li>
            <li>
                <a href="/song">Song</a>
            </li>

        <form method="POST" action ="/search">
            <input type="text" name="search" id="search">
            <input type="submit" value="Search">
        </form>
        </ul>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>