{% extends "base.html" %}
    {% block main %}
        <h2>{{ title }}</h2>
        <table>
            <thead>
                <tr>
                    <th><a href="/sort?sort=Ranking&order={{ order }}">Ranking</a></th>
                    <th><a href="/sort?sort=Name&order={{ order }}">Name</a></th>
                    <th><a href="/sort?sort=Album&order={{ order }}">Album</a></th>
                    <th>Streams</th>
                    <th>Release Date</th>
                    <th>Cover</th>
                </tr>
            </thead>
            <tbody>
                {% for songs in song %}
                <tr>
                    <td>{{ songs[0] }}</td>
                    <td>{{ songs[1] }}</td>
                    <td>{{ songs[2] }}</td>
                    <td>{{ songs[3] }}</td>
                    <td>{{ songs[4] }}</td>
                    <td>
                        <div>
                            <img src = "/static/images/{{ songs[5] }}.jpg" width = "100" height = "100" class="songcover" alt="The song cover for {{ songs[1] }}">
                        </div>
                    </td>
                </tr>
            </tbody>
                {% endfor %}
        </table>
    {% endblock %}