{% extends "base.html" %}
    {% block main %}
        <h2>{{ title }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Album</th>
                    <th>Streams</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                {% for songs in song %}
                <tr>
                    <td>{{ songs[0] }}</td>
                    <td>{{ songs[1] }}</td>
                    <td>{{ songs[2] }}</td>
                    <td>{{ songs[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}