{% extends "base.html" %}
     {% block main %}
        <h2>BTS's Top Songs</h2>
        <p>Information about the top 40 songs of K-pop boy group BTS!</p>
        <p>Click on the images below to navigate to different pages.</p>
        <div class ="image-links">

          <a href ="/">
            Home
            <img src = "/static/images/firstclear.png" height = 300 alt="A lineart of a flower from a BTS album cover, taken from the official BTS website">
          </a>
          <a href="/catalouge">
            Catalouge
            <img src = "/static/images/fourthclear.png" height = 300 alt="A lineart of a flower from a BTS album cover, taken from the official BTS website">
          </a>
          <a href="/album">
            Albums
            <img src = "/static/images/thirdclear.png" height = 300 alt="A lineart of a flower from a BTS album cover, taken from the official BTS website">
          </a>
          <a href="/song">
            Songs
            <img src = "/static/images/secondclear.png" height = 300 alt="A lineart of a flower from a BTS album cover, taken from the official BTS website">
          </a>
        </div>
      {% endblock %}
