{% extends "base.html" %}
     {% block main %}
        <h2>BTS's Top Songs</h2>
        <p>Information about the top 40 songs of K-pop boy group BTS</p>
        <p>Click on the images below to navigate to different pages</p>
        <div class ="image-links">
        <a href ="/album">
          <img src = "/static/images/placeholder.png">
        </a>
        <a href="/">
          <img src = "/static/images/placeholder.png">
        </a>
        <a href="/catalouge">
          <img src = "/static/images/placeholder.png">
        </a>
        <a href="/song">
          <img src = "/static/images/placeholder.png">
        </a>
        </div>
      {% endblock %}
