<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HTML and CSS Tags</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
      <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="webpages.html">Top Songs</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Welcome</h2>
        <p>This website attempts to explain some of the web tags, what they do, and how to use them</p>
        <p>We also will look at how to make the page look better using cascading Style Sheets.</p>
    </main>
  <script src="script.js"></script>

  <!--
    With thanks to WC
  -->
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>