<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BTS Top Songs</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>BTS Songs</h1>
    </header>
    <nav>
        <ul>
           <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/webpages">Top Songs</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Top Songs</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Album</th>
                    <th>Streams</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                {% for songs in song %}
                <tr>
                    <td>{{ songs[0] }}</td>
                    <td>{{ songs[1] }}</td>
                    <td>{{ songs[2] }}</td>
                    <td>{{ songs[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>